@import url("https://fonts.googleapis.com/css?family=Economica|Roboto+Condensed");

body {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 500px;
}
