@import url("https://fonts.googleapis.com/css?family=Economica|Roboto+Condensed");

body {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.APODContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

input {
  margin-bottom: 40px;
}

img {
  width: 500px;
}

.explanation {
  width: 70%;
}

.months {
  display: flex;
  flex-direction: column;
}

.days {
  display: flex;
  flex-direction: column;
}

.years {
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
}
