@import url("https://fonts.googleapis.com/css?family=Economica|Roboto+Condensed");

body {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.APODContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dateInput {
  margin-right: 90px;
}

.apod {
  width: 550px;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.explanation {
  width: 70%;
  margin-top: 15px;
  font-size: 1.5rem;
}

li {
  list-style-type: none;
}
